.title {
  margin-bottom: 2em;
  text-align: center;
}

.barcode-label {
  font-weight: bold;
  font-size: larger;
}

@media print {
  .noPrint {
    display: none;
  }

  /*.container {*/
  /*width: auto;*/
  /*}*/
  @page {
    /*size: A4;*/
    margin: 0;
    margin-top: 5mm;
  }

}

